@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Roboto:wght@700&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #f6f6f3;
    color: #1c1c1c;
    font-family: 'Noto Sans', sans-serif;
}
p {
    margin: 0;
    font-size: 14px;
}
ul {
    margin: 0;
    padding-left: 20px;
    font-size: 13px;
}
ul.list-two-col {
    columns: 2;
}
h1 {
    font-size: 36px;
    margin: 0;
    font-weight: bold;
    line-height: 36px;
}
h2 {
    font-size: 14px;
    font-weight: bold;
    font-family: 'Roboto';
    text-transform: uppercase;
    margin: 12px 0 4px 0;
    padding-bottom: 4px;
    border-bottom: 1px solid #ff8218;
}
h2::before {
    display: inline-block;
    margin: 0 6px 0 0;
    content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 8" width="16" height="8"><path style="fill:%23ff8218;" d="M -4.8441224e-7,0 7.2099117,8 V 4.6621911 L 2.7638334,0 Z M 12.783141,0 8.3370629,4.6621911 V 8 L 15.546975,0 Z" /></svg>');
    width: 16px;
    height: 8px;
}
h3 {
    font-size: 14px;
    font-weight: bold;
    font-family: 'Noto Sans', sans-serif;
    margin: 4px 0 0 0;
}
table {
    width: 100%;
}
td {
    vertical-align: top;
    font-size: 13px;
}
td p {
    font-size: 13px;
}
#portfolio-link {
    margin-top: 4px;
}
#contact td {
    padding: 0;
}
#contact td:first-child {
    font-weight: bold;
}
#experience td:last-child {
    text-align: right;
}
#experience td:first-child {
    text-align: left;
}
#experience ul {
    margin-bottom: 8px;
}
#education td:last-child {
    text-align: right;
}
#education td:first-child {
    text-align: left;
}

#page-container {
    max-width: 760px;
    margin: 0 auto;
}

#page-header h1 {
    margin: 0;
    font-size: 22px;
    font-weight: bold;
    line-height: 24px;
}
#page-header #page-header-inner {
    position: relative;
    color: #1c1c1c;
    margin-left: -4px;
}
#page-header #logo {
    width: 64px;
}
#page-header #page-title {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 76px;
}
#page-header p {
    margin: 0 0 2px 0;
}

.link {
    text-decoration: none;
    color: #1c1c1c;
}
.link:hover {
    color: #ff8218;
}
.link::before {
    display: inline-block;
    vertical-align: middle;
    margin-right: 6px;
}
.link-web::before {
    content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16"><path style="fill:%231c1c1c;" d="M 8.0014855,6.5965479e-4 C 4.8210563,-0.04244182 1.7634513,2.0308418 0.5924113,4.9819796 -0.60685427,7.8202489 0.05552101,11.314925 2.2128542,13.515643 c 2.0975798,2.254351 5.5502465,3.08413 8.4429148,2.028202 2.996426,-1.020609 5.208869,-3.963186 5.329282,-7.1305187 C 16.18617,5.2995761 14.355353,2.1931223 11.551804,0.83415292 10.454299,0.28542765 9.2283443,-0.00111006 8.0014855,6.5965479e-4 Z m 0,1.49801734521 c 1.0959934,0.086197 1.7301002,1.1671473 2.1512955,2.064321 0.04525,0.3488934 0.771589,1.2877219 0.104218,1.1836615 -1.6098937,0 -3.219788,0 -4.8296822,0 C 5.7924611,3.5444962 6.3169467,2.2009557 7.5049368,1.6024804 7.6620147,1.5375879 7.8310356,1.4985247 8.0014855,1.498677 Z m 3.2147805,0.8476394 c 0.998648,0.5671181 1.841217,1.4049457 2.414014,2.4003431 -0.502594,0 -1.005188,0 -1.507782,0 C 11.919244,3.9142546 11.631293,3.0978039 11.216266,2.3463164 Z m -6.4393262,0.00391 c -0.4437852,0.7352692 -0.6659226,1.651845 -0.9495217,2.3964331 -0.4862113,0 -0.9724225,0 -1.4586337,0 C 2.9412078,3.7538422 3.7807373,2.9170493 4.7769398,2.3502281 Z M 1.7359844,6.2524892 c 0.6217325,0 1.243465,0 1.8651975,0 -0.1374217,1.1514061 -0.1379576,2.3190654 -0.00195,3.4706345 -0.6236856,0 -1.2473712,0 -1.8710568,0 C 1.4184093,8.5933696 1.4211804,7.3808573 1.7359844,6.2524892 Z m 3.3807925,0 c 1.9211859,0 3.8423717,0 5.7635571,0 0.155321,1.1497866 0.156477,2.3204929 0.0039,3.4706345 -1.92379,0 -3.8475802,0 -5.7713705,0 C 4.9577629,8.5732773 4.9589496,7.4019678 5.1167493,6.2524892 Z m 7.2772001,0 c 0.622383,0 1.244767,0 1.867151,0 0.312542,1.1283874 0.315289,2.3408532 0.0078,3.4706345 -0.623685,0 -1.24737,0 -1.871056,0 0.134273,-1.1515793 0.133109,-2.3193754 -0.0039,-3.4706345 z M 2.3473004,11.221141 c 0.5051983,0 1.0103967,0 1.515595,0 0.1017656,0.765051 0.7273516,1.953205 0.8177825,2.372886 C 3.7146396,13.022985 2.9022016,12.19651 2.3473004,11.221141 Z m 3.0702518,0 c 1.7219713,0 3.4439422,0 5.1659128,0 -0.36062,1.213679 -0.8844125,2.574818 -2.0854315,3.174696 C 7.510849,14.798639 6.6384738,13.885122 6.1891438,13.099013 5.8419523,12.514922 5.5998855,11.873948 5.4175522,11.221141 Z m 6.7147108,0 c 0.506501,0 1.013001,0 1.519502,0 -0.572865,1.009132 -1.422461,1.858728 -2.431593,2.431593 0.418035,-0.761751 0.709376,-1.588203 0.912091,-2.431593 z" /></svg>');
}
.link-web:hover::before {
    content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16"><path style="fill:%23ff8218;" d="M 8.0014855,6.5965479e-4 C 4.8210563,-0.04244182 1.7634513,2.0308418 0.5924113,4.9819796 -0.60685427,7.8202489 0.05552101,11.314925 2.2128542,13.515643 c 2.0975798,2.254351 5.5502465,3.08413 8.4429148,2.028202 2.996426,-1.020609 5.208869,-3.963186 5.329282,-7.1305187 C 16.18617,5.2995761 14.355353,2.1931223 11.551804,0.83415292 10.454299,0.28542765 9.2283443,-0.00111006 8.0014855,6.5965479e-4 Z m 0,1.49801734521 c 1.0959934,0.086197 1.7301002,1.1671473 2.1512955,2.064321 0.04525,0.3488934 0.771589,1.2877219 0.104218,1.1836615 -1.6098937,0 -3.219788,0 -4.8296822,0 C 5.7924611,3.5444962 6.3169467,2.2009557 7.5049368,1.6024804 7.6620147,1.5375879 7.8310356,1.4985247 8.0014855,1.498677 Z m 3.2147805,0.8476394 c 0.998648,0.5671181 1.841217,1.4049457 2.414014,2.4003431 -0.502594,0 -1.005188,0 -1.507782,0 C 11.919244,3.9142546 11.631293,3.0978039 11.216266,2.3463164 Z m -6.4393262,0.00391 c -0.4437852,0.7352692 -0.6659226,1.651845 -0.9495217,2.3964331 -0.4862113,0 -0.9724225,0 -1.4586337,0 C 2.9412078,3.7538422 3.7807373,2.9170493 4.7769398,2.3502281 Z M 1.7359844,6.2524892 c 0.6217325,0 1.243465,0 1.8651975,0 -0.1374217,1.1514061 -0.1379576,2.3190654 -0.00195,3.4706345 -0.6236856,0 -1.2473712,0 -1.8710568,0 C 1.4184093,8.5933696 1.4211804,7.3808573 1.7359844,6.2524892 Z m 3.3807925,0 c 1.9211859,0 3.8423717,0 5.7635571,0 0.155321,1.1497866 0.156477,2.3204929 0.0039,3.4706345 -1.92379,0 -3.8475802,0 -5.7713705,0 C 4.9577629,8.5732773 4.9589496,7.4019678 5.1167493,6.2524892 Z m 7.2772001,0 c 0.622383,0 1.244767,0 1.867151,0 0.312542,1.1283874 0.315289,2.3408532 0.0078,3.4706345 -0.623685,0 -1.24737,0 -1.871056,0 0.134273,-1.1515793 0.133109,-2.3193754 -0.0039,-3.4706345 z M 2.3473004,11.221141 c 0.5051983,0 1.0103967,0 1.515595,0 0.1017656,0.765051 0.7273516,1.953205 0.8177825,2.372886 C 3.7146396,13.022985 2.9022016,12.19651 2.3473004,11.221141 Z m 3.0702518,0 c 1.7219713,0 3.4439422,0 5.1659128,0 -0.36062,1.213679 -0.8844125,2.574818 -2.0854315,3.174696 C 7.510849,14.798639 6.6384738,13.885122 6.1891438,13.099013 5.8419523,12.514922 5.5998855,11.873948 5.4175522,11.221141 Z m 6.7147108,0 c 0.506501,0 1.013001,0 1.519502,0 -0.572865,1.009132 -1.422461,1.858728 -2.431593,2.431593 0.418035,-0.761751 0.709376,-1.588203 0.912091,-2.431593 z" /></svg>');
}