@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Roboto:wght@700&display=swap');

body {
    margin: 0;
    padding: 24px;
    background-color: #f6f6f3;
    color: #1c1c1c;
    border-top: 3px solid #ff8218;
    font-family: 'Noto Sans', sans-serif;
}
p {
    margin: 0;
    font-size: 14px;
}
h1 {
    font-size: 36px;
    margin: 0;
    font-weight: bold;
    line-height: 36px;
}
h2 {
    font-size: 14px;
    font-weight: bold;
    font-family: 'Roboto';
    text-transform: uppercase;
    margin: 24px 0 4px 0;
}
h2::before {
    display: inline-block;
    margin: 0 6px 0 0;
    content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 8" width="16" height="8"><path style="fill:%23ff8218;" d="M -4.8441224e-7,0 7.2099117,8 V 4.6621911 L 2.7638334,0 Z M 12.783141,0 8.3370629,4.6621911 V 8 L 15.546975,0 Z" /></svg>');
    width: 16px;
    height: 8px;
}
table {
    font-size: 14px;
}
table td {
    vertical-align: top;
}
table td:first-child {
    font-weight: bold;
    text-align: right;
    padding-right: 8px;
}
figure {
    margin: 0 0 24px 0;
    font-size: 14px;
}
figure img {
    max-width: 100%;
}
div.video-container {
    position: relative;
    padding-bottom: 56.25%;
    margin-bottom: 4px;
}
div.video-container iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

#page-container {
    max-width: 520px;
    margin: 0 auto;
}
@media (min-width: 960px) {
    #page-container {
        max-width: 824px;
    }
    div.content-row-2-1 {
        display: flex;
        gap: 24px;
    }
    div.content-row-2-1 div.content-cell:first-of-type {
        flex-basis: 0;
        flex-grow: 2;
    }
    div.content-row-2-1 div.content-cell {
        flex-basis: 0;
        flex-grow: 1;
    }
    h2::before {
        margin: 0 6px 0 -22px;
    }
}
@media (min-width: 1410px) {
    #page-container {
        max-width: 1248px;
    }
    div.content-row-2-1 {
        display: flex;
        gap: 24px;
    }
    div.content-row-2-1 div.content-cell:first-of-type {
        flex-basis: 0;
        flex-grow: 2;
    }
    div.content-row-2-1 div.content-cell {
        flex-basis: 0;
        flex-grow: 1;
    }
    h2::before {
        margin: 0 6px 0 -22px;
    }
}

#page-header h1 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    line-height: 24px;
}
#page-header #page-header-inner {
    position: relative;
    color: #1c1c1c;
    margin-left: -4px;
}
#page-header #logo {
    width: 52px;
}
#page-header #logo #logo-outline {
    display: none;
}
#page-header #logo:hover #logo-outline {
    display: block;
}
#page-header #page-title {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 60px;
}
#page-header p {
    margin: 0;
}
#page-header ul.links {
    padding: 0;
    list-style: none;
    margin: 8px 0 0 0;
}
#page-header ul.links li {
    display: inline-block;
    margin-right: 8px;
}

@media (min-width: 960px) {
    #page-header #page-header-inner {
        margin-left: -60px;
    }
    #page-header #logo {
        width: 52px;
    }
    #page-header #page-title {
        left: 60px;
    }
    #page-header ul.links {
        margin: 0;
    }
}
@media (min-width: 1410px) {
    #page-header #page-header-inner {
        margin-left: -76px;
    }
    #page-header #logo {
        width: 64px;
    }
    #page-header #page-title {
        left: 76px;
    }
    #page-header ul.links {
        margin: -4px 0 0 0;
    }
}

ul.links {
    padding: 0;
    list-style: none;
    margin: 8px 0 0 0;
    font-size: 14px;
}
.link {
    text-decoration: none;
    color: #1c1c1c;
}
.link:hover {
    color: #ff8218;
}
.link::before {
    display: inline-block;
    vertical-align: middle;
    margin-right: 6px;
}
.link-linkedin::before {
    content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16"><path style="fill:%231c1c1c;" d="M 1.2040778,15.989077 C 0.40722528,15.896782 -0.1268161,15.073007 0.00338653,14.30247 -0.0041011,9.8854177 0.00378618,5.4683497 0.00386151,1.0512904 0.14428807,0.26869119 1.0011525,-0.10335863 1.7289331,0.00595075 6.1401234,0.00545677 10.552425,-0.02021693 14.962932,0.01889586 c 1.040823,0.13637206 1.103485,1.28554504 1.022417,2.10527384 -0.0045,4.2585543 0.02329,8.5181823 -0.01515,12.7760513 -0.117404,0.734503 -0.86043,1.219456 -1.58138,1.095506 -4.3947848,0.0054 -8.7905262,0.0109 -13.1847442,-0.0067 z M 4.9551227,9.7736975 c 0,-1.1869879 0,-2.3739757 0,-3.5609636 -0.7635467,0 -1.5270935,0 -2.2906402,0 -4.698e-4,2.3715052 -0.00687,4.7430261 -3.6e-4,7.1145201 0.7628293,0.02439 1.527417,0.0057 2.2909954,0.0088 1.6e-6,-1.187466 3.2e-6,-2.374931 4.8e-6,-3.5623965 z M 8.6212266,11.256645 C 8.651925,10.429141 8.5595049,9.5878534 8.6840741,8.7689393 8.8965432,7.8697045 10.254183,7.5154078 10.779876,8.3193936 c 0.440403,0.8145934 0.193914,1.7837754 0.261861,2.6682914 8.3e-5,0.784001 9.8e-5,1.568001 1.52e-4,2.352002 0.763542,0 1.527085,0 2.290627,0 -0.02034,-1.636912 0.05246,-3.278293 -0.0528,-4.9115662 C 13.17488,7.2907487 12.330799,6.2017789 11.149702,6.0762302 10.169141,5.8939428 9.1332939,6.3337513 8.6260783,7.1999297 c -0.00173,-0.330728 -0.00345,-0.6614561 -0.00518,-0.9921841 -0.7634901,0 -1.5269802,0 -2.2904703,0 0,2.3773265 0,4.7546534 0,7.1319794 0.7635454,0 1.5270907,0 2.2906361,0 8.3e-5,-0.694341 -6.53e-5,-1.388834 1.625e-4,-2.08308 z M 4.1697725,5.0974241 C 5.2184416,4.9487113 5.4605134,3.37904 4.5795474,2.8536298 3.8107194,2.3382832 2.5875424,2.9198664 2.6663192,3.8965542 2.6222467,4.6951091 3.4121539,5.2875495 4.1697725,5.0974241 Z" /></svg>');
}
.link-linkedin:hover::before {
    content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16"><path style="fill:%23ff8218;" d="M 1.2040778,15.989077 C 0.40722528,15.896782 -0.1268161,15.073007 0.00338653,14.30247 -0.0041011,9.8854177 0.00378618,5.4683497 0.00386151,1.0512904 0.14428807,0.26869119 1.0011525,-0.10335863 1.7289331,0.00595075 6.1401234,0.00545677 10.552425,-0.02021693 14.962932,0.01889586 c 1.040823,0.13637206 1.103485,1.28554504 1.022417,2.10527384 -0.0045,4.2585543 0.02329,8.5181823 -0.01515,12.7760513 -0.117404,0.734503 -0.86043,1.219456 -1.58138,1.095506 -4.3947848,0.0054 -8.7905262,0.0109 -13.1847442,-0.0067 z M 4.9551227,9.7736975 c 0,-1.1869879 0,-2.3739757 0,-3.5609636 -0.7635467,0 -1.5270935,0 -2.2906402,0 -4.698e-4,2.3715052 -0.00687,4.7430261 -3.6e-4,7.1145201 0.7628293,0.02439 1.527417,0.0057 2.2909954,0.0088 1.6e-6,-1.187466 3.2e-6,-2.374931 4.8e-6,-3.5623965 z M 8.6212266,11.256645 C 8.651925,10.429141 8.5595049,9.5878534 8.6840741,8.7689393 8.8965432,7.8697045 10.254183,7.5154078 10.779876,8.3193936 c 0.440403,0.8145934 0.193914,1.7837754 0.261861,2.6682914 8.3e-5,0.784001 9.8e-5,1.568001 1.52e-4,2.352002 0.763542,0 1.527085,0 2.290627,0 -0.02034,-1.636912 0.05246,-3.278293 -0.0528,-4.9115662 C 13.17488,7.2907487 12.330799,6.2017789 11.149702,6.0762302 10.169141,5.8939428 9.1332939,6.3337513 8.6260783,7.1999297 c -0.00173,-0.330728 -0.00345,-0.6614561 -0.00518,-0.9921841 -0.7634901,0 -1.5269802,0 -2.2904703,0 0,2.3773265 0,4.7546534 0,7.1319794 0.7635454,0 1.5270907,0 2.2906361,0 8.3e-5,-0.694341 -6.53e-5,-1.388834 1.625e-4,-2.08308 z M 4.1697725,5.0974241 C 5.2184416,4.9487113 5.4605134,3.37904 4.5795474,2.8536298 3.8107194,2.3382832 2.5875424,2.9198664 2.6663192,3.8965542 2.6222467,4.6951091 3.4121539,5.2875495 4.1697725,5.0974241 Z" /></svg>');
}
.link-github::before {
    content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16"><path style="fill:%231c1c1c;" d="M 5.5100609,15.603509 C 2.32124,14.620112 -0.0153139,11.443759 2.0015745e-4,8.1059722 -0.10245552,4.7637012 2.1579637,1.5380163 5.3171899,0.46002804 8.2202756,-0.60768976 11.694627,0.21717386 13.798887,2.4858948 15.966221,4.708502 16.614038,8.23487 15.38754,11.085585 c -0.871353,2.110411 -2.689119,3.812518 -4.86408,4.515853 -0.9485075,-0.03667 -0.343609,-1.379725 -0.515163,-1.981364 0.01543,-0.717078 0.04496,-1.554357 -0.5324359,-2.083169 C 10.774029,11.426115 12.211944,10.87742 12.748741,9.5902145 13.291768,8.2617928 13.341933,6.540022 12.304697,5.4299207 12.545126,4.7485067 12.515559,3.9375642 12.19117,3.3014607 11.390656,3.2517521 10.671578,3.714785 10.022726,4.1272427 8.7184429,3.7712104 7.3200686,3.7704121 6.0158754,4.1271737 5.3571937,3.716356 4.6273031,3.2413786 3.8173349,3.3059107 3.5470354,3.9751826 3.4826339,4.7458145 3.7329233,5.4312197 2.7323198,6.4943399 2.756225,8.1236429 3.2183004,9.421913 3.6868056,10.773316 5.1330245,11.403666 6.462876,11.523827 6.2505505,11.866649 6.1124855,12.962328 5.2903872,12.80357 4.3242663,12.969703 3.8361101,12.060097 3.3001781,11.456928 3.0615687,10.979999 1.5649296,11.031712 2.4209875,11.6093 c 0.8422494,0.45282 0.7890472,1.707804 1.7254721,2.039884 0.5220294,0.38681 1.5379631,-0.06935 1.8583727,0.211991 -0.017418,0.51938 0.070523,1.057929 -0.043087,1.562822 -0.088721,0.160487 -0.2868734,0.199165 -0.4516842,0.179512 z" /></svg>');
}
.link-github:hover::before {
    content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16"><path style="fill:%23ff8218;" d="M 5.5100609,15.603509 C 2.32124,14.620112 -0.0153139,11.443759 2.0015745e-4,8.1059722 -0.10245552,4.7637012 2.1579637,1.5380163 5.3171899,0.46002804 8.2202756,-0.60768976 11.694627,0.21717386 13.798887,2.4858948 15.966221,4.708502 16.614038,8.23487 15.38754,11.085585 c -0.871353,2.110411 -2.689119,3.812518 -4.86408,4.515853 -0.9485075,-0.03667 -0.343609,-1.379725 -0.515163,-1.981364 0.01543,-0.717078 0.04496,-1.554357 -0.5324359,-2.083169 C 10.774029,11.426115 12.211944,10.87742 12.748741,9.5902145 13.291768,8.2617928 13.341933,6.540022 12.304697,5.4299207 12.545126,4.7485067 12.515559,3.9375642 12.19117,3.3014607 11.390656,3.2517521 10.671578,3.714785 10.022726,4.1272427 8.7184429,3.7712104 7.3200686,3.7704121 6.0158754,4.1271737 5.3571937,3.716356 4.6273031,3.2413786 3.8173349,3.3059107 3.5470354,3.9751826 3.4826339,4.7458145 3.7329233,5.4312197 2.7323198,6.4943399 2.756225,8.1236429 3.2183004,9.421913 3.6868056,10.773316 5.1330245,11.403666 6.462876,11.523827 6.2505505,11.866649 6.1124855,12.962328 5.2903872,12.80357 4.3242663,12.969703 3.8361101,12.060097 3.3001781,11.456928 3.0615687,10.979999 1.5649296,11.031712 2.4209875,11.6093 c 0.8422494,0.45282 0.7890472,1.707804 1.7254721,2.039884 0.5220294,0.38681 1.5379631,-0.06935 1.8583727,0.211991 -0.017418,0.51938 0.070523,1.057929 -0.043087,1.562822 -0.088721,0.160487 -0.2868734,0.199165 -0.4516842,0.179512 z" /></svg>');
}
.link-download::before {
    content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16"><path style="fill:%231c1c1c;" d="M 8 0 C 3.5906093 0 0 3.5906093 0 8 C 0 12.409391 3.5906093 16 8 16 C 12.409391 16 16 12.409391 16 8 C 16 3.5906093 12.409391 0 8 0 z M 8 1.5 C 11.598731 1.5 14.5 4.4012687 14.5 8 C 14.5 11.598731 11.598731 14.5 8 14.5 C 4.4012687 14.5 1.5 11.598731 1.5 8 C 1.5 4.4012687 4.4012687 1.5 8 1.5 z M 7.25 3.5742188 L 7.25 9.6132812 L 4.9667969 7.53125 L 3.9570312 8.6386719 L 8 12.328125 L 12.042969 8.6386719 L 11.033203 7.53125 L 8.75 9.6132812 L 8.75 3.5742188 L 7.25 3.5742188 z" /></svg>');
}
.link-download:hover::before {
    content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16"><path style="fill:%23ff8218;" d="M 8 0 C 3.5906093 0 0 3.5906093 0 8 C 0 12.409391 3.5906093 16 8 16 C 12.409391 16 16 12.409391 16 8 C 16 3.5906093 12.409391 0 8 0 z M 8 1.5 C 11.598731 1.5 14.5 4.4012687 14.5 8 C 14.5 11.598731 11.598731 14.5 8 14.5 C 4.4012687 14.5 1.5 11.598731 1.5 8 C 1.5 4.4012687 4.4012687 1.5 8 1.5 z M 7.25 3.5742188 L 7.25 9.6132812 L 4.9667969 7.53125 L 3.9570312 8.6386719 L 8 12.328125 L 12.042969 8.6386719 L 11.033203 7.53125 L 8.75 9.6132812 L 8.75 3.5742188 L 7.25 3.5742188 z" /></svg>');
}

ul.projects {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 12px;
    padding: 0;
    list-style: none;
}
ul.projects > a {
    text-decoration: none;
}
ul.projects > a > li {
    margin: 0;
    padding: 12px;
    background-color: #ebebeb;
    border: 1px solid #b2b2b2;
    border-top: 3px solid #ff8218;
    border-radius: 0 0 4px 4px;
}
ul.projects > a > li:hover {
    border-color: #ff8218;
}
ul.projects > a > li h3 {
    display: inline-block;
    margin: 0;
    color: #1c1c1c;
    font-size: 16px;
}
ul.projects > a > li span.year {
    float: right;
    color: #1c1c1c;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Roboto';
}
ul.projects > a > li p {
    height: 36px;
    color: #1c1c1c;
    font-size: 13px;
}
ul.projects > a > li ul {
    color: #1c1c1c;
    font-size: 13px;
    list-style: none;
    padding: 0;
    margin-top: 6px;
}
ul.projects > a > li ul > li {
    display: inline-block;
}
ul.projects > a > li ul > li::after {
    display: inline-block;
    margin: 0px 2px -2px 6px;
    content: '';
    width: 1px;
    height: 12px;
    background-color: #b2b2b2;
}
ul.projects > a > li ul > li:last-child::after {
    display: none;
}
@media (min-width: 960px) {
    ul.projects {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 1410px) {
    ul.projects {
        grid-template-columns: repeat(3, 1fr);
    }
}

.link-home {
    display: inline-block;
    margin: 24px 0 4px 0;
    padding: 0 8px 4px 0px;
    color: #1c1c1c;
    border-bottom: 1px solid #1c1c1c;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Roboto';
    text-transform: uppercase;
    text-decoration: none;
    user-select: none;
}
.link-home::before {
    display: inline-block;
    margin: 0 6px 0 0;
    content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 14" height="10"><path d="M 8,1 1,7 8,13" style="fill: transparent; stroke: black; stroke-width: 2px;" /></svg>');
    width: 8px;
    height: 14px;
}
.link-home:hover {
    color: #ff8218;
    border-bottom: 1px solid #ff8218;
}
.link-home:hover::before {
    content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 14" height="10"><path d="M 8,1 1,7 8,13" style="fill: transparent; stroke: %23ff8218; stroke-width: 2px;" /></svg>');
}

#project-header p {
    font-size: 14px;
    font-weight: bold;
    font-family: 'Roboto';
    text-transform: uppercase;
    margin: 24px 0 4px 0;
}