@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Roboto:wght@700&display=swap');

body {
    margin: 0;
    padding: 24px;
    background-color: #f6f6f3;
    color: #1c1c1c;
    border-top: 3px solid #ff8218;
    font-family: 'Noto Sans', sans-serif;
}
::selection {
    background-color: #ff8218;
    color: white;
}
p {
    margin: 0;
    font-size: 14px;
}
ul {
    margin: 0;
    font-size: 14px;
}
h1 {
    font-size: 36px;
    margin: 0;
    font-weight: bold;
    line-height: 36px;
}
h2 {
    font-size: 14px;
    font-weight: bold;
    font-family: 'Roboto';
    text-transform: uppercase;
    margin: 24px 0 4px 0;
}
h2::before {
    display: inline-block;
    margin: 0 6px 0 0;
    content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 8" width="16" height="8"><path style="fill:%23ff8218;" d="M -4.8441224e-7,0 7.2099117,8 V 4.6621911 L 2.7638334,0 Z M 12.783141,0 8.3370629,4.6621911 V 8 L 15.546975,0 Z" /></svg>');
    width: 16px;
    height: 8px;
}
table {
    font-size: 14px;
}
table td {
    vertical-align: top;
}
table td:first-child {
    font-weight: bold;
    text-align: right;
    padding-right: 8px;
}
figure {
    margin: 0 0 24px 0;
    font-size: 14px;
}
figure img {
    max-width: 100%;
}
div.video-container {
    position: relative;
    padding-bottom: 56.25%;
    margin-bottom: 4px;
}
div.video-container iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

#page-container {
    max-width: 520px;
    margin: 0 auto;
}
@media (min-width: 1096px) {
    #page-container {
        max-width: 960px;
    }
    div.content-row-2-1 {
        display: flex;
        gap: 32px;
    }
    div.content-row-2-1 div.content-cell:first-of-type {
        flex-basis: 0;
        flex-grow: 2;
    }
    div.content-row-2-1 div.content-cell {
        flex-basis: 0;
        flex-grow: 1;
    }
    h2::before {
        margin: 0 6px 0 -22px;
    }
}

#page-header h1 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    line-height: 24px;
}
#page-header #page-header-inner {
    position: relative;
    color: #1c1c1c;
    margin-left: -4px;
}
#page-header #logo {
    width: 42px;
}
#page-header #logo #logo-outline {
    display: none;
}
#page-header #logo:hover #logo-outline {
    display: block;
}
#page-header #page-title {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 50px;
    right: 0px;
}
#page-header p {
    margin: 0;
}
#page-header ul.links {
    padding: 0;
    list-style: none;
    margin: 8px 0 0 0;
}
#page-header ul.links li {
    display: inline-block;
    margin-right: 8px;
}
#page-header ul.links li:last-child {
    margin-right: 0;
}

@media (min-width: 1096px) {
    #page-header #page-header-inner {
        margin-left: -50px;
    }
    #page-header #page-title h1 {
        float: left;
    }
    #page-header ul.links {
        float: right;
        margin: 0;
    }
}

ul.links {
    padding: 0;
    list-style: none;
    margin: 8px 0 0 0;
    font-size: 14px;
}
.link {
    text-decoration: none;
    color: #1c1c1c;
}
.link:hover {
    color: #ff8218;
}
.link::before {
    display: inline-block;
    vertical-align: middle;
    margin-right: 6px;
}
.link-linkedin::before {
    content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16"><path style="fill:%231c1c1c;" d="M 1.2040778,15.989077 C 0.40722528,15.896782 -0.1268161,15.073007 0.00338653,14.30247 -0.0041011,9.8854177 0.00378618,5.4683497 0.00386151,1.0512904 0.14428807,0.26869119 1.0011525,-0.10335863 1.7289331,0.00595075 6.1401234,0.00545677 10.552425,-0.02021693 14.962932,0.01889586 c 1.040823,0.13637206 1.103485,1.28554504 1.022417,2.10527384 -0.0045,4.2585543 0.02329,8.5181823 -0.01515,12.7760513 -0.117404,0.734503 -0.86043,1.219456 -1.58138,1.095506 -4.3947848,0.0054 -8.7905262,0.0109 -13.1847442,-0.0067 z M 4.9551227,9.7736975 c 0,-1.1869879 0,-2.3739757 0,-3.5609636 -0.7635467,0 -1.5270935,0 -2.2906402,0 -4.698e-4,2.3715052 -0.00687,4.7430261 -3.6e-4,7.1145201 0.7628293,0.02439 1.527417,0.0057 2.2909954,0.0088 1.6e-6,-1.187466 3.2e-6,-2.374931 4.8e-6,-3.5623965 z M 8.6212266,11.256645 C 8.651925,10.429141 8.5595049,9.5878534 8.6840741,8.7689393 8.8965432,7.8697045 10.254183,7.5154078 10.779876,8.3193936 c 0.440403,0.8145934 0.193914,1.7837754 0.261861,2.6682914 8.3e-5,0.784001 9.8e-5,1.568001 1.52e-4,2.352002 0.763542,0 1.527085,0 2.290627,0 -0.02034,-1.636912 0.05246,-3.278293 -0.0528,-4.9115662 C 13.17488,7.2907487 12.330799,6.2017789 11.149702,6.0762302 10.169141,5.8939428 9.1332939,6.3337513 8.6260783,7.1999297 c -0.00173,-0.330728 -0.00345,-0.6614561 -0.00518,-0.9921841 -0.7634901,0 -1.5269802,0 -2.2904703,0 0,2.3773265 0,4.7546534 0,7.1319794 0.7635454,0 1.5270907,0 2.2906361,0 8.3e-5,-0.694341 -6.53e-5,-1.388834 1.625e-4,-2.08308 z M 4.1697725,5.0974241 C 5.2184416,4.9487113 5.4605134,3.37904 4.5795474,2.8536298 3.8107194,2.3382832 2.5875424,2.9198664 2.6663192,3.8965542 2.6222467,4.6951091 3.4121539,5.2875495 4.1697725,5.0974241 Z" /></svg>');
}
.link-linkedin:hover::before {
    content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16"><path style="fill:%23ff8218;" d="M 1.2040778,15.989077 C 0.40722528,15.896782 -0.1268161,15.073007 0.00338653,14.30247 -0.0041011,9.8854177 0.00378618,5.4683497 0.00386151,1.0512904 0.14428807,0.26869119 1.0011525,-0.10335863 1.7289331,0.00595075 6.1401234,0.00545677 10.552425,-0.02021693 14.962932,0.01889586 c 1.040823,0.13637206 1.103485,1.28554504 1.022417,2.10527384 -0.0045,4.2585543 0.02329,8.5181823 -0.01515,12.7760513 -0.117404,0.734503 -0.86043,1.219456 -1.58138,1.095506 -4.3947848,0.0054 -8.7905262,0.0109 -13.1847442,-0.0067 z M 4.9551227,9.7736975 c 0,-1.1869879 0,-2.3739757 0,-3.5609636 -0.7635467,0 -1.5270935,0 -2.2906402,0 -4.698e-4,2.3715052 -0.00687,4.7430261 -3.6e-4,7.1145201 0.7628293,0.02439 1.527417,0.0057 2.2909954,0.0088 1.6e-6,-1.187466 3.2e-6,-2.374931 4.8e-6,-3.5623965 z M 8.6212266,11.256645 C 8.651925,10.429141 8.5595049,9.5878534 8.6840741,8.7689393 8.8965432,7.8697045 10.254183,7.5154078 10.779876,8.3193936 c 0.440403,0.8145934 0.193914,1.7837754 0.261861,2.6682914 8.3e-5,0.784001 9.8e-5,1.568001 1.52e-4,2.352002 0.763542,0 1.527085,0 2.290627,0 -0.02034,-1.636912 0.05246,-3.278293 -0.0528,-4.9115662 C 13.17488,7.2907487 12.330799,6.2017789 11.149702,6.0762302 10.169141,5.8939428 9.1332939,6.3337513 8.6260783,7.1999297 c -0.00173,-0.330728 -0.00345,-0.6614561 -0.00518,-0.9921841 -0.7634901,0 -1.5269802,0 -2.2904703,0 0,2.3773265 0,4.7546534 0,7.1319794 0.7635454,0 1.5270907,0 2.2906361,0 8.3e-5,-0.694341 -6.53e-5,-1.388834 1.625e-4,-2.08308 z M 4.1697725,5.0974241 C 5.2184416,4.9487113 5.4605134,3.37904 4.5795474,2.8536298 3.8107194,2.3382832 2.5875424,2.9198664 2.6663192,3.8965542 2.6222467,4.6951091 3.4121539,5.2875495 4.1697725,5.0974241 Z" /></svg>');
}
.link-github::before {
    content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16"><path style="fill:%231c1c1c;" d="M 5.5100609,15.603509 C 2.32124,14.620112 -0.0153139,11.443759 2.0015745e-4,8.1059722 -0.10245552,4.7637012 2.1579637,1.5380163 5.3171899,0.46002804 8.2202756,-0.60768976 11.694627,0.21717386 13.798887,2.4858948 15.966221,4.708502 16.614038,8.23487 15.38754,11.085585 c -0.871353,2.110411 -2.689119,3.812518 -4.86408,4.515853 -0.9485075,-0.03667 -0.343609,-1.379725 -0.515163,-1.981364 0.01543,-0.717078 0.04496,-1.554357 -0.5324359,-2.083169 C 10.774029,11.426115 12.211944,10.87742 12.748741,9.5902145 13.291768,8.2617928 13.341933,6.540022 12.304697,5.4299207 12.545126,4.7485067 12.515559,3.9375642 12.19117,3.3014607 11.390656,3.2517521 10.671578,3.714785 10.022726,4.1272427 8.7184429,3.7712104 7.3200686,3.7704121 6.0158754,4.1271737 5.3571937,3.716356 4.6273031,3.2413786 3.8173349,3.3059107 3.5470354,3.9751826 3.4826339,4.7458145 3.7329233,5.4312197 2.7323198,6.4943399 2.756225,8.1236429 3.2183004,9.421913 3.6868056,10.773316 5.1330245,11.403666 6.462876,11.523827 6.2505505,11.866649 6.1124855,12.962328 5.2903872,12.80357 4.3242663,12.969703 3.8361101,12.060097 3.3001781,11.456928 3.0615687,10.979999 1.5649296,11.031712 2.4209875,11.6093 c 0.8422494,0.45282 0.7890472,1.707804 1.7254721,2.039884 0.5220294,0.38681 1.5379631,-0.06935 1.8583727,0.211991 -0.017418,0.51938 0.070523,1.057929 -0.043087,1.562822 -0.088721,0.160487 -0.2868734,0.199165 -0.4516842,0.179512 z" /></svg>');
}
.link-github:hover::before {
    content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16"><path style="fill:%23ff8218;" d="M 5.5100609,15.603509 C 2.32124,14.620112 -0.0153139,11.443759 2.0015745e-4,8.1059722 -0.10245552,4.7637012 2.1579637,1.5380163 5.3171899,0.46002804 8.2202756,-0.60768976 11.694627,0.21717386 13.798887,2.4858948 15.966221,4.708502 16.614038,8.23487 15.38754,11.085585 c -0.871353,2.110411 -2.689119,3.812518 -4.86408,4.515853 -0.9485075,-0.03667 -0.343609,-1.379725 -0.515163,-1.981364 0.01543,-0.717078 0.04496,-1.554357 -0.5324359,-2.083169 C 10.774029,11.426115 12.211944,10.87742 12.748741,9.5902145 13.291768,8.2617928 13.341933,6.540022 12.304697,5.4299207 12.545126,4.7485067 12.515559,3.9375642 12.19117,3.3014607 11.390656,3.2517521 10.671578,3.714785 10.022726,4.1272427 8.7184429,3.7712104 7.3200686,3.7704121 6.0158754,4.1271737 5.3571937,3.716356 4.6273031,3.2413786 3.8173349,3.3059107 3.5470354,3.9751826 3.4826339,4.7458145 3.7329233,5.4312197 2.7323198,6.4943399 2.756225,8.1236429 3.2183004,9.421913 3.6868056,10.773316 5.1330245,11.403666 6.462876,11.523827 6.2505505,11.866649 6.1124855,12.962328 5.2903872,12.80357 4.3242663,12.969703 3.8361101,12.060097 3.3001781,11.456928 3.0615687,10.979999 1.5649296,11.031712 2.4209875,11.6093 c 0.8422494,0.45282 0.7890472,1.707804 1.7254721,2.039884 0.5220294,0.38681 1.5379631,-0.06935 1.8583727,0.211991 -0.017418,0.51938 0.070523,1.057929 -0.043087,1.562822 -0.088721,0.160487 -0.2868734,0.199165 -0.4516842,0.179512 z" /></svg>');
}
.link-download::before {
    content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16"><path style="fill:%231c1c1c;" d="M 8 0 C 3.5906093 0 0 3.5906093 0 8 C 0 12.409391 3.5906093 16 8 16 C 12.409391 16 16 12.409391 16 8 C 16 3.5906093 12.409391 0 8 0 z M 8 1.5 C 11.598731 1.5 14.5 4.4012687 14.5 8 C 14.5 11.598731 11.598731 14.5 8 14.5 C 4.4012687 14.5 1.5 11.598731 1.5 8 C 1.5 4.4012687 4.4012687 1.5 8 1.5 z M 7.25 3.5742188 L 7.25 9.6132812 L 4.9667969 7.53125 L 3.9570312 8.6386719 L 8 12.328125 L 12.042969 8.6386719 L 11.033203 7.53125 L 8.75 9.6132812 L 8.75 3.5742188 L 7.25 3.5742188 z" /></svg>');
}
.link-download:hover::before {
    content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16"><path style="fill:%23ff8218;" d="M 8 0 C 3.5906093 0 0 3.5906093 0 8 C 0 12.409391 3.5906093 16 8 16 C 12.409391 16 16 12.409391 16 8 C 16 3.5906093 12.409391 0 8 0 z M 8 1.5 C 11.598731 1.5 14.5 4.4012687 14.5 8 C 14.5 11.598731 11.598731 14.5 8 14.5 C 4.4012687 14.5 1.5 11.598731 1.5 8 C 1.5 4.4012687 4.4012687 1.5 8 1.5 z M 7.25 3.5742188 L 7.25 9.6132812 L 4.9667969 7.53125 L 3.9570312 8.6386719 L 8 12.328125 L 12.042969 8.6386719 L 11.033203 7.53125 L 8.75 9.6132812 L 8.75 3.5742188 L 7.25 3.5742188 z" /></svg>');
}
.link-web::before {
    content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16"><path style="fill:%231c1c1c;" d="M 8.0014855,6.5965479e-4 C 4.8210563,-0.04244182 1.7634513,2.0308418 0.5924113,4.9819796 -0.60685427,7.8202489 0.05552101,11.314925 2.2128542,13.515643 c 2.0975798,2.254351 5.5502465,3.08413 8.4429148,2.028202 2.996426,-1.020609 5.208869,-3.963186 5.329282,-7.1305187 C 16.18617,5.2995761 14.355353,2.1931223 11.551804,0.83415292 10.454299,0.28542765 9.2283443,-0.00111006 8.0014855,6.5965479e-4 Z m 0,1.49801734521 c 1.0959934,0.086197 1.7301002,1.1671473 2.1512955,2.064321 0.04525,0.3488934 0.771589,1.2877219 0.104218,1.1836615 -1.6098937,0 -3.219788,0 -4.8296822,0 C 5.7924611,3.5444962 6.3169467,2.2009557 7.5049368,1.6024804 7.6620147,1.5375879 7.8310356,1.4985247 8.0014855,1.498677 Z m 3.2147805,0.8476394 c 0.998648,0.5671181 1.841217,1.4049457 2.414014,2.4003431 -0.502594,0 -1.005188,0 -1.507782,0 C 11.919244,3.9142546 11.631293,3.0978039 11.216266,2.3463164 Z m -6.4393262,0.00391 c -0.4437852,0.7352692 -0.6659226,1.651845 -0.9495217,2.3964331 -0.4862113,0 -0.9724225,0 -1.4586337,0 C 2.9412078,3.7538422 3.7807373,2.9170493 4.7769398,2.3502281 Z M 1.7359844,6.2524892 c 0.6217325,0 1.243465,0 1.8651975,0 -0.1374217,1.1514061 -0.1379576,2.3190654 -0.00195,3.4706345 -0.6236856,0 -1.2473712,0 -1.8710568,0 C 1.4184093,8.5933696 1.4211804,7.3808573 1.7359844,6.2524892 Z m 3.3807925,0 c 1.9211859,0 3.8423717,0 5.7635571,0 0.155321,1.1497866 0.156477,2.3204929 0.0039,3.4706345 -1.92379,0 -3.8475802,0 -5.7713705,0 C 4.9577629,8.5732773 4.9589496,7.4019678 5.1167493,6.2524892 Z m 7.2772001,0 c 0.622383,0 1.244767,0 1.867151,0 0.312542,1.1283874 0.315289,2.3408532 0.0078,3.4706345 -0.623685,0 -1.24737,0 -1.871056,0 0.134273,-1.1515793 0.133109,-2.3193754 -0.0039,-3.4706345 z M 2.3473004,11.221141 c 0.5051983,0 1.0103967,0 1.515595,0 0.1017656,0.765051 0.7273516,1.953205 0.8177825,2.372886 C 3.7146396,13.022985 2.9022016,12.19651 2.3473004,11.221141 Z m 3.0702518,0 c 1.7219713,0 3.4439422,0 5.1659128,0 -0.36062,1.213679 -0.8844125,2.574818 -2.0854315,3.174696 C 7.510849,14.798639 6.6384738,13.885122 6.1891438,13.099013 5.8419523,12.514922 5.5998855,11.873948 5.4175522,11.221141 Z m 6.7147108,0 c 0.506501,0 1.013001,0 1.519502,0 -0.572865,1.009132 -1.422461,1.858728 -2.431593,2.431593 0.418035,-0.761751 0.709376,-1.588203 0.912091,-2.431593 z" /></svg>');
}
.link-web:hover::before {
    content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16"><path style="fill:%23ff8218;" d="M 8.0014855,6.5965479e-4 C 4.8210563,-0.04244182 1.7634513,2.0308418 0.5924113,4.9819796 -0.60685427,7.8202489 0.05552101,11.314925 2.2128542,13.515643 c 2.0975798,2.254351 5.5502465,3.08413 8.4429148,2.028202 2.996426,-1.020609 5.208869,-3.963186 5.329282,-7.1305187 C 16.18617,5.2995761 14.355353,2.1931223 11.551804,0.83415292 10.454299,0.28542765 9.2283443,-0.00111006 8.0014855,6.5965479e-4 Z m 0,1.49801734521 c 1.0959934,0.086197 1.7301002,1.1671473 2.1512955,2.064321 0.04525,0.3488934 0.771589,1.2877219 0.104218,1.1836615 -1.6098937,0 -3.219788,0 -4.8296822,0 C 5.7924611,3.5444962 6.3169467,2.2009557 7.5049368,1.6024804 7.6620147,1.5375879 7.8310356,1.4985247 8.0014855,1.498677 Z m 3.2147805,0.8476394 c 0.998648,0.5671181 1.841217,1.4049457 2.414014,2.4003431 -0.502594,0 -1.005188,0 -1.507782,0 C 11.919244,3.9142546 11.631293,3.0978039 11.216266,2.3463164 Z m -6.4393262,0.00391 c -0.4437852,0.7352692 -0.6659226,1.651845 -0.9495217,2.3964331 -0.4862113,0 -0.9724225,0 -1.4586337,0 C 2.9412078,3.7538422 3.7807373,2.9170493 4.7769398,2.3502281 Z M 1.7359844,6.2524892 c 0.6217325,0 1.243465,0 1.8651975,0 -0.1374217,1.1514061 -0.1379576,2.3190654 -0.00195,3.4706345 -0.6236856,0 -1.2473712,0 -1.8710568,0 C 1.4184093,8.5933696 1.4211804,7.3808573 1.7359844,6.2524892 Z m 3.3807925,0 c 1.9211859,0 3.8423717,0 5.7635571,0 0.155321,1.1497866 0.156477,2.3204929 0.0039,3.4706345 -1.92379,0 -3.8475802,0 -5.7713705,0 C 4.9577629,8.5732773 4.9589496,7.4019678 5.1167493,6.2524892 Z m 7.2772001,0 c 0.622383,0 1.244767,0 1.867151,0 0.312542,1.1283874 0.315289,2.3408532 0.0078,3.4706345 -0.623685,0 -1.24737,0 -1.871056,0 0.134273,-1.1515793 0.133109,-2.3193754 -0.0039,-3.4706345 z M 2.3473004,11.221141 c 0.5051983,0 1.0103967,0 1.515595,0 0.1017656,0.765051 0.7273516,1.953205 0.8177825,2.372886 C 3.7146396,13.022985 2.9022016,12.19651 2.3473004,11.221141 Z m 3.0702518,0 c 1.7219713,0 3.4439422,0 5.1659128,0 -0.36062,1.213679 -0.8844125,2.574818 -2.0854315,3.174696 C 7.510849,14.798639 6.6384738,13.885122 6.1891438,13.099013 5.8419523,12.514922 5.5998855,11.873948 5.4175522,11.221141 Z m 6.7147108,0 c 0.506501,0 1.013001,0 1.519502,0 -0.572865,1.009132 -1.422461,1.858728 -2.431593,2.431593 0.418035,-0.761751 0.709376,-1.588203 0.912091,-2.431593 z" /></svg>');
}
.link-twitter::before {
    content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16"><path style="fill:%231c1c1c;" d="M 4.7960465,14.505003 C 3.1035275,14.458274 1.4229419,13.953623 1.6152289e-5,13.032668 1.708386,13.228404 3.4997019,12.753867 4.8427883,11.670477 3.4824855,11.654706 2.1769589,10.697303 1.7978591,9.3882948 2.2032451,9.4831771 3.0400058,9.4611237 3.177637,9.3084138 1.7062144,8.9965684 0.59376297,7.5658338 0.63296665,6.0665029 0.97359935,6.2832438 1.9390587,6.5730572 2.0357418,6.41694 0.67699333,5.4907576 0.24988651,3.4957371 1.106144,2.0930418 2.7467561,4.1186945 5.2666937,5.415674 7.8753848,5.519283 7.4634386,3.8846276 8.5185732,2.0654461 10.147941,1.6256656 c 1.16253,-0.3561252 2.506778,0.00537 3.328241,0.9032324 0.732386,-0.1435279 1.43746,-0.4160926 2.081792,-0.7917477 -0.227723,0.7527981 -0.760985,1.381003 -1.412548,1.8074425 C 14.784705,3.4696936 15.408745,3.2901759 16,3.0379655 15.563566,3.697244 15.001703,4.2700167 14.364689,4.7369723 14.55636,8.620124 12.125184,12.557625 8.4390656,13.908344 7.2806857,14.345456 6.0250466,14.533363 4.7960465,14.505003 Z" /></svg>');
}
.link-twitter:hover::before {
    content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16"><path style="fill:%23ff8218;" d="M 4.7960465,14.505003 C 3.1035275,14.458274 1.4229419,13.953623 1.6152289e-5,13.032668 1.708386,13.228404 3.4997019,12.753867 4.8427883,11.670477 3.4824855,11.654706 2.1769589,10.697303 1.7978591,9.3882948 2.2032451,9.4831771 3.0400058,9.4611237 3.177637,9.3084138 1.7062144,8.9965684 0.59376297,7.5658338 0.63296665,6.0665029 0.97359935,6.2832438 1.9390587,6.5730572 2.0357418,6.41694 0.67699333,5.4907576 0.24988651,3.4957371 1.106144,2.0930418 2.7467561,4.1186945 5.2666937,5.415674 7.8753848,5.519283 7.4634386,3.8846276 8.5185732,2.0654461 10.147941,1.6256656 c 1.16253,-0.3561252 2.506778,0.00537 3.328241,0.9032324 0.732386,-0.1435279 1.43746,-0.4160926 2.081792,-0.7917477 -0.227723,0.7527981 -0.760985,1.381003 -1.412548,1.8074425 C 14.784705,3.4696936 15.408745,3.2901759 16,3.0379655 15.563566,3.697244 15.001703,4.2700167 14.364689,4.7369723 14.55636,8.620124 12.125184,12.557625 8.4390656,13.908344 7.2806857,14.345456 6.0250466,14.533363 4.7960465,14.505003 Z" /></svg>');
}
.link-document::before {
    content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 16" width="12"><path style="fill:%231c1c1c;" d="m 0,0 c 0,5.3333077 0,10.666654 0,16 4.0000128,0 7.9999877,0 12,0 C 12,12.480892 12,8.9618219 12,5.4427141 10.186793,3.6284762 8.3735861,1.8142381 6.5603789,0 4.3735733,0 2.1868056,0 0,0 Z m 1.4975677,1.4983815 c 1.4175056,0 2.8350114,0 4.2525164,0 0,1.4183493 0,2.8366608 0,4.2549723 0.091434,0.6731849 0.7981285,0.468587 1.2615375,0.5020815 1.1609968,0 2.322031,0 3.4830274,0 0,2.7486901 0,5.4974177 0,8.2461457 -2.9990271,0 -5.9980543,0 -8.9970813,0 0,-4.334401 0,-8.6688 0,-13.0031995 z M 6.7458558,2.305243 c 0.9794869,0.9813671 1.9590116,1.9626965 2.9384988,2.9440632 -0.9794872,0 -1.9590119,0 -2.9384988,0 0,-0.9813667 0,-1.9626961 0,-2.9440632 z M 2.5030872,8.0038938 c 0,0.3322999 0,0.6642251 0,0.9963375 2.3319302,0 4.6638605,0 6.9957905,0 0,-0.3319219 0,-0.6642251 0,-0.9963375 -2.33193,0 -4.6638603,0 -6.9957905,0 z m 0,2.0024292 c 0,0.332299 0,0.664225 0,0.996337 2.3319302,0 4.6638605,0 6.9957905,0 0,-0.332299 0,-0.664225 0,-0.996337 -2.33193,0 -4.6638603,0 -6.9957905,0 z m 0,2.0005 c 0,0.331922 0,0.664226 0,0.996338 1.3303024,0 2.6606047,0 3.9909073,0 0,-0.3323 0,-0.664225 0,-0.996338 -1.3303026,0 -2.6606049,0 -3.9909073,0 z" /></svg>');
}
.link-document:hover::before {
    content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 16" width="12"><path style="fill:%23ff8218;" d="m 0,0 c 0,5.3333077 0,10.666654 0,16 4.0000128,0 7.9999877,0 12,0 C 12,12.480892 12,8.9618219 12,5.4427141 10.186793,3.6284762 8.3735861,1.8142381 6.5603789,0 4.3735733,0 2.1868056,0 0,0 Z m 1.4975677,1.4983815 c 1.4175056,0 2.8350114,0 4.2525164,0 0,1.4183493 0,2.8366608 0,4.2549723 0.091434,0.6731849 0.7981285,0.468587 1.2615375,0.5020815 1.1609968,0 2.322031,0 3.4830274,0 0,2.7486901 0,5.4974177 0,8.2461457 -2.9990271,0 -5.9980543,0 -8.9970813,0 0,-4.334401 0,-8.6688 0,-13.0031995 z M 6.7458558,2.305243 c 0.9794869,0.9813671 1.9590116,1.9626965 2.9384988,2.9440632 -0.9794872,0 -1.9590119,0 -2.9384988,0 0,-0.9813667 0,-1.9626961 0,-2.9440632 z M 2.5030872,8.0038938 c 0,0.3322999 0,0.6642251 0,0.9963375 2.3319302,0 4.6638605,0 6.9957905,0 0,-0.3319219 0,-0.6642251 0,-0.9963375 -2.33193,0 -4.6638603,0 -6.9957905,0 z m 0,2.0024292 c 0,0.332299 0,0.664225 0,0.996337 2.3319302,0 4.6638605,0 6.9957905,0 0,-0.332299 0,-0.664225 0,-0.996337 -2.33193,0 -4.6638603,0 -6.9957905,0 z m 0,2.0005 c 0,0.331922 0,0.664226 0,0.996338 1.3303024,0 2.6606047,0 3.9909073,0 0,-0.3323 0,-0.664225 0,-0.996338 -1.3303026,0 -2.6606049,0 -3.9909073,0 z" /></svg>');
}
.link-itch::before {
    content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 15" width="16"><path style="fill:%231c1c1c;" d="M 2.0859763,0.39231065 C 1.2719152,0.97164155 0.57533519,1.7369006 0.0647508,2.5951826 -0.05850188,2.9789841 0.00661624,3.4093576 0.03635209,3.8060591 0.23471676,4.776622 1.4204591,5.4811837 2.3192822,4.9226498 2.8278165,4.6506459 3.1786658,4.0948302 3.1740226,3.5141037 3.1238409,4.6721479 4.5326122,5.5349561 5.530598,4.9226498 6.0316941,4.6466352 6.3537167,4.0850241 6.3483059,3.5141037 6.3125235,4.7640044 7.917456,5.5826096 8.917422,4.8412807 9.3570106,4.5527987 9.6552303,4.0446649 9.6517598,3.5141037 9.6010613,4.6070605 10.854383,5.4725706 11.850913,4.9911852 12.429392,4.7480948 12.832743,4.1427638 12.825978,3.5141037 12.773811,4.6963095 14.30597,5.6041362 15.264494,4.8319759 15.895286,4.428237 16.054037,3.665243 16,2.9698113 15.983042,2.3335086 15.408494,1.8834261 15.048116,1.4100656 14.564291,0.93483814 14.087789,0.23387938 13.320462,0.37251044 9.6246361,0.27088636 5.924915,0.27636715 2.2293892,0.38244801 l -0.1435478,0.009863 z M 6.3370903,4.710131 C 5.7323948,5.866058 3.8862763,5.9768903 3.1941175,4.8249963 2.86418,4.7817927 2.2103068,5.9473722 1.5049139,5.6412596 1.0763211,5.8392423 1.3322724,6.9189388 1.2197068,7.4746456 1.248889,9.4358092 1.0683882,11.428898 1.4803591,13.362006 c 0.042526,1.109731 1.1999814,1.041491 2.015401,1.13846 3.0522774,0.270163 6.1340096,0.272466 9.1848019,-0.01904 0.878169,-0.01067 1.882147,-0.200742 1.879824,-1.291837 0.35614,-1.953305 0.199984,-3.9517077 0.214083,-5.9258118 C 14.627321,6.5043724 15.105767,5.1878592 13.79292,5.5039916 13.421962,5.3347667 13.082203,5.0682493 12.87092,4.7177603 12.331564,5.7555312 10.768091,5.944635 9.9746796,5.111222 L 9.6629887,4.7098722 C 8.9973631,5.9511696 7.0026516,5.9502861 6.3370903,4.710131 Z M 5.0012571,6.437469 c 0.6397857,-0.097142 1.2225764,0.2832137 1.6682762,0.6274739 0.9129798,-0.086738 1.8348405,-0.084548 2.7472233,0.00873 0.6784254,-0.8418108 2.1572374,-0.8842563 2.8186904,-3.801e-4 0.780513,0.9559774 0.910845,2.214155 1.276186,3.3524734 0.181433,0.751578 0.554774,1.549509 0.263535,2.314136 -0.540741,0.627373 -1.590868,0.421953 -2.260389,0.09386 -0.616271,-0.33739 -1.021852,-1.021848 -1.015965,-1.72505 -1.6523971,0.248795 -3.3452855,0.24889 -4.9976778,0 0.032228,1.184855 -1.1279983,2.117691 -2.2728636,2.015831 -1.075218,0.205572 -1.3202913,-1.0061 -0.9914425,-1.777974 C 2.5400608,10.274632 2.803807,9.1884225 3.1548152,8.1317444 3.4711357,7.3525078 4.0480741,6.4284664 5.0012571,6.437469 Z m 2.9985493,1.5377153 c -0.584491,0.5658992 -1.2126265,1.105162 -1.6816913,1.7750752 0.3109075,-0.012455 0.6218149,-0.02491 0.9327224,-0.037365 0,0.2711312 0,0.5422625 0,0.8133935 C 7.66275,10.387326 8.7613833,10.876738 8.7491727,10.268031 8.7813476,10.03039 8.6165455,9.5877221 9.0072224,9.7232316 9.3275431,9.7203434 9.9959834,9.8789157 9.4315875,9.4137225 8.9862768,8.9040192 8.4930809,8.4369415 7.9998064,7.9751843 Z" /></svg>');
}
.link-itch:hover::before {
    content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 15" width="16"><path style="fill:%23ff8218;" d="M 2.0859763,0.39231065 C 1.2719152,0.97164155 0.57533519,1.7369006 0.0647508,2.5951826 -0.05850188,2.9789841 0.00661624,3.4093576 0.03635209,3.8060591 0.23471676,4.776622 1.4204591,5.4811837 2.3192822,4.9226498 2.8278165,4.6506459 3.1786658,4.0948302 3.1740226,3.5141037 3.1238409,4.6721479 4.5326122,5.5349561 5.530598,4.9226498 6.0316941,4.6466352 6.3537167,4.0850241 6.3483059,3.5141037 6.3125235,4.7640044 7.917456,5.5826096 8.917422,4.8412807 9.3570106,4.5527987 9.6552303,4.0446649 9.6517598,3.5141037 9.6010613,4.6070605 10.854383,5.4725706 11.850913,4.9911852 12.429392,4.7480948 12.832743,4.1427638 12.825978,3.5141037 12.773811,4.6963095 14.30597,5.6041362 15.264494,4.8319759 15.895286,4.428237 16.054037,3.665243 16,2.9698113 15.983042,2.3335086 15.408494,1.8834261 15.048116,1.4100656 14.564291,0.93483814 14.087789,0.23387938 13.320462,0.37251044 9.6246361,0.27088636 5.924915,0.27636715 2.2293892,0.38244801 l -0.1435478,0.009863 z M 6.3370903,4.710131 C 5.7323948,5.866058 3.8862763,5.9768903 3.1941175,4.8249963 2.86418,4.7817927 2.2103068,5.9473722 1.5049139,5.6412596 1.0763211,5.8392423 1.3322724,6.9189388 1.2197068,7.4746456 1.248889,9.4358092 1.0683882,11.428898 1.4803591,13.362006 c 0.042526,1.109731 1.1999814,1.041491 2.015401,1.13846 3.0522774,0.270163 6.1340096,0.272466 9.1848019,-0.01904 0.878169,-0.01067 1.882147,-0.200742 1.879824,-1.291837 0.35614,-1.953305 0.199984,-3.9517077 0.214083,-5.9258118 C 14.627321,6.5043724 15.105767,5.1878592 13.79292,5.5039916 13.421962,5.3347667 13.082203,5.0682493 12.87092,4.7177603 12.331564,5.7555312 10.768091,5.944635 9.9746796,5.111222 L 9.6629887,4.7098722 C 8.9973631,5.9511696 7.0026516,5.9502861 6.3370903,4.710131 Z M 5.0012571,6.437469 c 0.6397857,-0.097142 1.2225764,0.2832137 1.6682762,0.6274739 0.9129798,-0.086738 1.8348405,-0.084548 2.7472233,0.00873 0.6784254,-0.8418108 2.1572374,-0.8842563 2.8186904,-3.801e-4 0.780513,0.9559774 0.910845,2.214155 1.276186,3.3524734 0.181433,0.751578 0.554774,1.549509 0.263535,2.314136 -0.540741,0.627373 -1.590868,0.421953 -2.260389,0.09386 -0.616271,-0.33739 -1.021852,-1.021848 -1.015965,-1.72505 -1.6523971,0.248795 -3.3452855,0.24889 -4.9976778,0 0.032228,1.184855 -1.1279983,2.117691 -2.2728636,2.015831 -1.075218,0.205572 -1.3202913,-1.0061 -0.9914425,-1.777974 C 2.5400608,10.274632 2.803807,9.1884225 3.1548152,8.1317444 3.4711357,7.3525078 4.0480741,6.4284664 5.0012571,6.437469 Z m 2.9985493,1.5377153 c -0.584491,0.5658992 -1.2126265,1.105162 -1.6816913,1.7750752 0.3109075,-0.012455 0.6218149,-0.02491 0.9327224,-0.037365 0,0.2711312 0,0.5422625 0,0.8133935 C 7.66275,10.387326 8.7613833,10.876738 8.7491727,10.268031 8.7813476,10.03039 8.6165455,9.5877221 9.0072224,9.7232316 9.3275431,9.7203434 9.9959834,9.8789157 9.4315875,9.4137225 8.9862768,8.9040192 8.4930809,8.4369415 7.9998064,7.9751843 Z" /></svg>');
}

#bio {
    margin: 32px 0;
}
#bio #profile-photo {
    float: right;
    width: 80px;
    margin-left: 24px;
    margin-bottom: 8px;
    border-radius: 4px;
}
#bio h1 {
    font-size: 36px;
    line-height: 36px;
}
#bio h1 > span.greeting {
    font-size: 28px;
    font-weight: 100;
}
#bio p.subtitle {
    font-size: 20px;
    margin: 24px 0 16px 0;
}
@media (min-width: 570px) {
    #bio #profile-photo {
        width: 160px;
    }
    #bio h1 {
        font-size: 40px;
        line-height: 40px;
    }
    #bio h1>span.greeting {
        font-size: 28px;
    }
}

ul.projects {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 24px;
    padding: 0;
    margin-top: 12px;
    list-style: none;
}
ul.projects > a {
    text-decoration: none;
}
ul.projects > a > li {
    position: relative;
    margin: 0;
    background-color: #ebebeb;
    border-radius: 4px;
    border: 1px solid #b2b2b2;
    height: 220px;
}
ul.projects > a > li > img {
    display: block;
    position: absolute;
    width: 100%;
    height: 120px;
    top: 0;
    object-fit: cover;
    border-radius: 4px 4px 0 0;
}
ul.projects > a > li > img.hero {
    display: none;
    background-color: #ff8218;
    object-position: 25% 50%;
}
ul.projects > a > li > div {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    height: 85px;
    padding: 6px 12px;
    background-color: #ebebeb;
    border-top: 3px solid #ff8218;
    border-radius: 0 0 4px 4px;
}
ul.projects > a > li:hover {
    border-color: #ff8218;
}
ul.projects > a > li h3 {
    display: inline-block;
    margin: 0;
    color: #1c1c1c;
    font-size: 16px;
}
ul.projects > a > li span.year {
    float: right;
    color: #1c1c1c;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Roboto';
}
ul.projects > a > li p.summary {
    height: 36px;
    color: #1c1c1c;
    font-size: 13px;
}
ul.projects > a > li p.details {
    display: none;
}
ul.projects > a > li ul {
    color: #1c1c1c;
    font-size: 13px;
    list-style: none;
    padding: 0;
    margin-top: 6px;
}
ul.projects > a > li ul > li {
    display: inline-block;
}
ul.projects > a > li ul > li::after {
    display: inline-block;
    margin: 0px 2px -2px 6px;
    content: '';
    width: 1px;
    height: 12px;
    background-color: #b2b2b2;
}
ul.projects > a > li ul > li:last-child::after {
    display: none;
}
ul.projects > a object {
    display: none;
}

@media (min-width: 1096px) {
    ul.projects {
        grid-template-columns: repeat(2, 1fr);
    }
    ul.projects > a.featured {
        grid-column: 1 / 3;
    }
    ul.projects > a.featured > li {
        height: 320px;
    }
    ul.projects > a.featured > li > img {
        height: 100%;
        width: 50%;
        border-radius: 4px 0 0 4px;
    }
    ul.projects > a.featured > li > img.thumbnail {
        display: none;
    }
    ul.projects > a.featured > li > img.hero {
        display: block;
    }
    ul.projects > a.featured > li > div {
        left: 50%;
        right: 0;
        top: 0;
        bottom: 0;
        height: 296px;
        padding: 12px 24px;
        border-top: none;
    }
    ul.projects > a.featured > li > div > h3 {
        font-size: 24px;
    }
    ul.projects > a.featured > li > div > h3:before {
        content: '\2605  Featured Project';
        display: block;
        width: 160px;
        font-size: 14px;
        font-family: 'Roboto';
        text-transform: uppercase;
        background-color: #ff8218;
        color: white;
        padding: 4px 8px;
        margin-bottom: 4px;
    }
    ul.projects > a.featured > li > div > p.summary {
        font-size: 14px;
        height: auto;
    }
    ul.projects > a.featured > li p.details {
        display: inline-block;
        margin-top: 12px;
        font-size: 13px;
        color: #1c1c1c;
    }
    ul.projects > a.featured > li ul {
        display: none;
    }
    ul.projects > a.featured object {
        display: block;
        margin-top: 16px;
    }
    ul.projects > a.featured object > a {
        display: inline-block;
        background-color: #ff8218;
        color: white;
        text-decoration: none;
        font-size: 14px;
        font-family: 'Roboto';
        text-transform: uppercase;
        padding: 8px 12px;
    }
    ul.projects > a.featured object > a::after {
        display: inline-block;
        margin: 0 0 0 4px;
        content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 14" height="10"><path d="M 2,1 9,7 2,13" style="fill: transparent; stroke: white; stroke-width: 2px;" /></svg>');
        width: 8px;
        height: 14px;
    }
    ul.projects > a.featured object > a:hover {
        background-color: #f8a760;
    }
}

.link-home {
    display: inline-block;
    margin: 24px 0 4px 0;
    padding: 0 8px 4px 0px;
    color: #1c1c1c;
    border-bottom: 1px solid #1c1c1c;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Roboto';
    text-transform: uppercase;
    text-decoration: none;
    user-select: none;
}
.link-home::before {
    display: inline-block;
    margin: 0 6px 0 0;
    content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 14" height="10"><path d="M 8,1 1,7 8,13" style="fill: transparent; stroke: black; stroke-width: 2px;" /></svg>');
    width: 8px;
    height: 14px;
}
.link-home:hover {
    color: #ff8218;
    border-bottom: 1px solid #ff8218;
}
.link-home:hover::before {
    content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 14" height="10"><path d="M 8,1 1,7 8,13" style="fill: transparent; stroke: %23ff8218; stroke-width: 2px;" /></svg>');
}

#project-header p {
    font-size: 14px;
    font-weight: bold;
    font-family: 'Roboto';
    text-transform: uppercase;
    margin: 24px 0 4px 0;
}